<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      text-align: center;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    h1 {
      color: #333;
    }
    p {
      color: #555;
    }
    a {
      color: #007BFF;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Welcome to REVIEW & RATING ENDPOINT Documentation</h1>
  <p>Visit: <a href="https://team-liquid-repo.onrender.com/swagger-ui/index.html">https://team-liquid-repo.onrender.com/swagger-ui/index.html</a> to view the documentation for all the endpoints.</p>
</div>
</body>
</html>
